/*
Interaction18 colors
#E40050 - Electric crimson
#D0A9D0 - Mauve
#421B4B - Dark purple
#B0A7AC - Neutral Grey
#FFFFFF - White
*/

body {
  max-width: 80em;
  margin: auto;
  border: 1rem white solid;
  margin-bottom: 4em;
}
