.schedule{

}
  .schedule ul li{
    list-style: none;
    width: 100%;
    border-right: 1px solid #D0A9D0;
  }
  .schedule ul li:first-child{
    border-left: 1px solid #D0A9D0;
  }
  .day{
    display: block;
    text-align: center;
    font-size: 80%;
  }
  .week{
    justify-content: center;
    display: flex;
    width: 100%;
  }

@media (max-width: 60em) {
  .week{
    flex-direction: column;
  }
  .schedule ul li{
    border-bottom: 1px solid #D0A9D0;
    border-right: none;
  }
  .schedule ul li:first-child{
    border-top: 1px solid #D0A9D0;
    border-left: none;
  }
  .day{
    text-align: right;
  }

}
