/* UTILITIES */
.text-white{
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}
  .text-white:hover{
    color: rgba(255,255,255,0.9);
  }
.link-no-underline{
  text-decoration: none;
}
.text-center{
  text-align: center;
}
.no-scroll{
  overflow: hidden;
}
.column-text-2{
  column-count: 2;
  column-gap: 2em;
}
@media (max-width: 30em) {
  .column-text-2{
    column-count: 1;
  }
}


/* PADDINGS AND BORDERS */
.mega-padding{
  padding: 1.6em 2em;
}
.bordered{
  border: 1px solid #B0A7AC;
}
.bordered-top{
  border-top: 1px solid #B0A7AC;
}
.bordered-bottom{
  border-bottom: 1px solid #B0A7AC;
}
.spacer-t-b{
  margin-top: 3em;
  margin-bottom: 3em;
}
.spacer-t{
  margin-top: 3em;
}
.spacer-b{
  margin-bottom: 3em;
}
.spacer-r-l{
  margin-left: 3em;
  margin-right: 3em;
}

/* BUTTONS */
.button{
  border: none;
  display: inline-block;
  background-color: #E40050;
  color: #fff;
  border-radius: 3px;
  padding: 0.6em 1em;
  transition: background 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
  .button:hover{
    background-color: #ad003d;
    color: #fff;
  }

  .button-secondary{
    background-color: #421B4B;
  }
    .button-secondary:hover{
      background-color: #290930;
      color: #D0A9D0;
    }
  @media (max-width: 60em) {
    .button-xs-link{
      background: none;
      color: #E40050;
      text-decoration: underline;
    }
    .button-xs-link:hover{
      background: none;
      color: #ad003d;
    }
  }


/* FORMS */
.forms{

}
input:not(.button){
  line-height: 1.5em;
  padding: 0.3em;
}
