/* UTILITIES */
.text-white{
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}
  .text-white:hover{
    color: rgba(255,255,255,0.9);
  }
.link-no-underline{
  text-decoration: none;
}
.no-scroll{
  overflow: hidden;
}

/* BUTTONS */
.button{
  border: none;
  display: inline-block;
  background-color: #E40050;
  color: #fff;
  border-radius: 2px;
  padding: 0.6em 1em;
  transition: background 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
  .button:hover{
    background-color: #ad003d;
    color: #fff;
  }

  .button-secondary{
    background-color: #421B4B;
  }
    .button-secondary:hover{
      background-color: #290930;
      color: #D0A9D0;
    }
  @media (max-width: 60em) {
    .button-xs-link{
      background: none;
      color: #E40050;
      text-decoration: underline;
    }
    .button-xs-link:hover{
      background: none;
      color: #ad003d;
    }
  }


/* FORMS */
.forms{

}
input{
  line-height: 2em;
  padding: 0.3em;
}
