<section class="content container">
  <div class="bordered-top"></div>
  <footer class="boxes boxes-valign boxes-nopadding bordered-bottom">
      <div class="box">
        <a href="partners.html" class="button"><strong>Become a partner</strong></a>
      </div>
      <div class="box">
          <strong>Organised by IxDA</strong><br/>
          <a href="http://ixda.org/" target="_blank">ixda.org</a>
      </div>
      <div class="box">
          <strong>Get in touch</strong><br/>
          <a href="mailto:ixd18@ixda.org">ixd18@ixda.org</a>
      </div>
      <div class="box">
          <strong>Local ❤︎</strong><br/>
          <a href="http://www.ixda-lyon.fr/" target="_blank">IxDA Lyon</a>
      </div>
      <div class="box">
          <strong>Follow us</strong><br/>
          <a href="https://twitter.com/ixdconf" target="_blank">Twitter</a> &nbsp;
          <a href="https://www.facebook.com/IxDAGlobal" target="_blank">Facebook</a> &nbsp;
          <a href="https://www.instagram.com/ixdconf" target="_blank">Instagram</a> &nbsp;
          <a href="https://www.linkedin.com/company/ixda" target="_blank">LinkedIn</a>
      </div>
  </footer>
</section>

<section class="content container spacer-t-b">
  <p class="text-center">
    <a href="code-of-conduct.html">Code of Conduct</a>&nbsp;&nbsp;—&nbsp;&nbsp;Copyright 2004&nbsp;›&nbsp;2017 Interaction Design Association&nbsp;&nbsp;—&nbsp;&nbsp;<a href="credits.html">Credits</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a href="media.html">Media</a>
  </p>
</section>
