<section class="container spacer-t">
  <div class="bordered mega-padding">
    <div class="boxes boxes-valign boxes-nopadding">
      <div class="box">
        <h3>Subscribe to newsletter</h3>
      </div>
      <div class="box">
          <p>Stay informed with our once-a-month update.</p>
      </div>
      <div class="box">
        <p>
  				<form action="//ixda.us2.list-manage.com/subscribe/post?u=e714c585710f24c2743e2cb29&amp;id=4f464c4573" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  					<div class="mc-field-group">
  						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
  						<input type="submit" value="Follow" name="subscribe" id="mc-embedded-subscribe" class="button button-secondary">
  						<div id="mce-responses">
  							<div class="response" id="mce-error-response" style="display:none"></div>
  							<div class="response" id="mce-success-response" style="display:none"></div>
  						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e714c585710f24c2743e2cb29_4f464c4573" tabindex="-1" value=""></div>
  					</div>
  				</form>
  			</p>
      </div>
    </div>
  </div>
</section>

<section class="content container">
  <footer class="boxes boxes-valign boxes-nopadding bordered-bottom">
      <div class="box">
        <a href="partners.html" class="button"><strong>Become a partner</strong></a>
      </div>
      <div class="box">
          <strong>Organised by IxDA</strong><br/>
          <a href="http://ixda.org/" target="_blank">ixda.org</a>
      </div>
      <div class="box">
          <strong>Get in touch</strong><br/>
          <a href="mailto:ixd18@ixda.org">ixd18@ixda.org</a>
      </div>
      <div class="box">
          <strong>Local ❤︎</strong><br/>
          <a href="http://www.ixda-lyon.fr/" target="_blank">IxDA Lyon</a>
      </div>
      <div class="box">
          <strong>Follow us on</strong><br/>
          <a href="https://twitter.com/ixdconf" target="_blank">Twitter</a> &nbsp;
          <a href="https://www.facebook.com/IxDAGlobal" target="_blank">Facebook</a> &nbsp;
          <a href="https://www.instagram.com/ixdconf" target="_blank">Instagram</a> &nbsp;
          <a href="https://www.linkedin.com/company/ixda" target="_blank">LinkedIn</a>
      </div>
  </footer>
</section>

<section class="content container spacer-t-b">
  <p class="text-center"><a href="code-of-conduct.html">Code of Conduct</a>   —   Copyright 2004 › 2017 Interaction Design Association   —   <a href="credits.html">Credits</p>
</section>
