<script>
// toggle responsive-Menu
  const toggleButton = document.querySelector('#js-toggle-nav');
  const header = document.querySelector('header');
  const body = document.querySelector('body');

  function toggleOpen() {
    this.classList.toggle('nav-toggle-open');
    header.classList.toggle('mobile-open');
    body.classList.toggle('no-scroll');
  }

  toggleButton.addEventListener('click', toggleOpen);
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJ7W3KG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
