<meta name="twitter:site" content="@ixdconf">
<meta name="twitter:creator" content="@ixdconf">
<meta property="og:site_name" content="Interaction 18">
<link rel="stylesheet" href="build/utility.css">
<link rel="stylesheet" href="build/interaction18.css">
<link rel="stylesheet" href="build/typography.css">
<link rel="stylesheet" href="build/block.css">
<link rel="stylesheet" href="build/navigation.css">
<link rel="stylesheet" href="css/schedule.css">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WJ7W3KG');</script>
<!-- End Google Tag Manager -->
