
/* BANNER SECTION */
.banner{
  text-align: center;
  padding: 0 1vmax;
}
  .banner-purple{
    background: #421B4B url('../img/photos/saone_rhone.jpg') 0 0 no-repeat;
    background-size: cover;
  }
  .banner-purple-speakers{
    background: #421B4B url('../img/photos/speakers.jpg') center 0 no-repeat;
    background-size: cover;
  }
  .banner-purple-cfp{
    background: #421B4B url('../img/photos/cfp-cover.jpg') center 0 no-repeat;
    background-size: cover;
  }
  .banner-neutral{
    background-color: #B0A7AC;
  }
  .banner-half{
    min-height: 30vh;
  }
  .banner-full{
    min-height: 60vh;
  }
  .banner-link{
    transition: filter 0.3s ease-in-out;
  }
  .banner-link:hover{
    filter: brightness(1.3);
  }
.banner .button-banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}
.banner .button-banner p{
  margin-top: 2em;
  margin-bottom: 2em;
}

.banner-video{
  position: relative;
}
  .banner-video .button-banner{
    padding-top: 0;
    padding-bottom: 0;
  }
  .banner-video iframe{
    display: none;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60vh;
  }
  .banner-video iframe.video-show{
    display: block;
  }

.button-play{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .button-play .button-play_round{
    width: 4em;
    height: 4em;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: #421B4B;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
    .button-banner:hover .button-play .button-play_round{
      background-color: #E40050;
      width: 4.6em;
      height: 4.6em;
      margin-top: 2em;
    }
  .button-play .button-play_triangle{
    width: 0;
    height: 0;
    margin-left: 8%;
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-left: 1.2em solid white;
    display: block;
    transition: all 0.2s ease-in-out;
  }
    .button-banner:hover .button-play .button-play_triangle{
      border-top-width: 1em;
      border-bottom-width: 1em;
      border-left-width: 1.5em;
    }
  .button-play strong{
    margin-top: 0.5em;
  }

/* CONTAINER */
.container{
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
.container-m{
  max-width: 50em;
}
.container-s{
  max-width: 40em;
}
.container-xs{
  max-width: 32em;
}

/* -ms-ime-align: auto is a edge only feature and as Edge support grid but not the way we implemented it ... */
@supports (display: grid) and (not (-ms-ime-align: auto)) {
  .container {
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 70em) [main-end]
    minmax(1em, 1fr) [full-end];
  }
  .container-m{
    max-width: 100%;
    grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 50em) [main-end]
    minmax(1em, 1fr) [full-end];
  }
  .container-s{
    max-width: 100%;
    grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 40em) [main-end]
    minmax(1em, 1fr) [full-end];
  }
  .container-xs{
    max-width: 100%;
    grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 32em) [main-end]
    minmax(1em, 1fr) [full-end];
  }
  .container > *, .container-s > *, .container-m > *, .container-xs > * {
    grid-column: main;
  }

  .fullwidth {
    margin-left: 0;
    margin-right: 0;
    grid-column: full;
  }
}

.content{

}
  .content img{
    max-width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .content .box img{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

/* Columns */
@media (min-width: 600px) {
  .columns{
    column-count: 2;
    column-gap: 4em;
  }
  .columns.columns-3{
    column-count: 3;
  }
}
.columns .columns-break{
  break-after: column;
  margin: 1em;
}

/* Boxes */
.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  .box-inner-padding{
    margin: 0.75em;
  }
  .boxes>*{
    margin: 1rem;
    padding-right: 0.75em;
    box-sizing: border-box;
  }
  .boxes.boxes-valign{
    align-items: center;
  }
  .boxes.boxes-nopadding>*{
    padding-right: 0;
    padding-bottom : 0;
  }
  .boxes.boxes-auto .box{
    flex: 1 1 auto;
  }
  .boxes.boxes-1 .box{
    flex: 1 0 8em;
    min-width: 8em;
  }
  .boxes.boxes-2 .box{
    flex: 1 0 40%;
    max-width: 40em;
    min-width: 14em;
  }
  .boxes.boxes-3 .box{
    flex: 1 0 20%;
    min-width: 20vmax;
  }
  .boxes.boxes-2-13 .box{
    flex: 1 0 20%;
    min-width: 20vmax;
  }
  .boxes.boxes-2-13 .box:first-child{
    flex: 1 0 40%;
    min-width: 20vmax;
  }
  .boxes.boxes-4 .box{
    flex: 1 0 14em;
    min-width: 14em;
  }
  .box-primary{
    background-color: #E40050;
    padding: 2em;
  }
  .box-secondary{
    background-color: #421B4B;
    padding: 2em;
  }

.boxes-fun{
  flex-direction: column;
  height: 110em;
  justify-content: flex-start;
}
.boxes-fun .box{
  width: 30%;
}
@media (max-width: 60em) {
  .boxes-fun{
    height: auto;
  }
  .boxes-fun .box{
    width: 100%;
  }
}

.boxes-team{
  justify-content: flex-start;
}
  .boxes-team .box{
    max-width: 50%;
    flex: 1 1 auto;
    padding: 0;
    margin: 0;
  }
  @media (max-width: 600px) {
    .boxes-team .box{
      flex-basis: 50%; /* SAFARI fix*/
    }
  }
  .boxes-team .box img{
    max-width: 100%;
  }

  .boxes-speaker{
    justify-content: flex-start;
  }
    .boxes-speaker .box{
      width: 33%;
      max-width: 33%;
      flex: 1 1 auto;
      padding: 0 1em 2em;
      margin: 0;
    }
    .boxes-speaker .box img{
      /*width: 120px;*/
    }
    @media (max-width: 600px) {
      .boxes-speaker .box{
        flex-basis: 50%; /* SAFARI fix*/
      }
    }
    .boxes-speaker .box img{
      max-width: 100%;
    }


.boxes-hotels{
}
    .boxes-hotels .box{
      flex: 1 0 10em;
      margin-bottom: 2em;
    }

.boxes-partners{
}
  .boxes-partners .box{
    margin-bottom: 3em;
    flex: 1 1 auto;
    text-align: center;
  }
  .boxes-partners .box-XL img{ width: 25em; }
  .boxes-partners .box-L img{ width: 12em; }
  .boxes-partners .box-M img{ width: 8em; }
  .boxes-partners .box-S img{ width: 8em; }
  .boxes-partners-full-display{
    display: none;
  }
  .boxes-partners-full .boxes-partners-full-display{
    display: block;
    display: block;
    position: relative;
    top: -2em;
  }
.boxes-partners-footer{
  text-align: center;
}
  .boxes-partners-footer .box{
    display: inline-block;
    margin-bottom: 0.4em;
  }
  .boxes-partners-footer .box-XL img{ width: 10em; }
  .boxes-partners-footer .box-L img{ width: 8em; }
  .boxes-partners-footer .box-M img{ width: 5em; }
  .boxes-partners-footer .box-S img{ width: 5em; }

.boxes-gallery{
    flex-wrap: nowrap;
    overflow: scroll;
}
  .boxes-gallery .box{}

.gallery-simple {
  text-align: center;
}
  .gallery-simple img{
    max-width: 700px;
    width: calc(100% - 2rem);
    margin: 1rem;
  }


.boxes-logo{}
  .boxes-logo img{
    max-width: 8em;
    margin: 1em;
  }


/* FOOTER */
footer{
  min-height: 6em;
  padding: 1em 0;
}
