
.program-item-date{
    float: left;
    width: 3em;
    text-align: right;
}
.program-item{
  clear: right;
  padding-left: 5em;
  padding-bottom: 1em;
}
.program-item-date, .program-item{
  border-top: 1px solid #B0A7AC;
  padding-top: 1em;
}
.program-item-date:nth-last-child(2), .program-item:last-child{
  padding-bottom: 1em;
  border-bottom: 1px solid #B0A7AC;
}
@supports (display: grid) {
  .program-list{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 3em 1fr;
  }
  .program-item{
    padding-left: 0;
    padding-bottom: 0;
  }
}
.program-speakers-preview{
  display: none;
}

@supports (display: grid) {
  @media (min-width: 70em) {
    .program-detail{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: minmax(0, 40em) minmax(0, 20em);
    }
    .program-detail h1, .program-speaker-by {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .program-resume{
      grid-column-start: 1;
      grid-column-end: 1;
    }
    .program-outline{
      grid-column-start: 1;
      grid-column-end: 1;
    }
    .program-tito{
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .program-speakers-detail{
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .program-speakers-preview{
      display: block;
      grid-row: 3;
      grid-row-end: 2 span;
      grid-column-start: 2;
      grid-column-end: -1;
     }
     .program-speakers-preview .program-speaker-box img{
       margin: 0;
     }
     .program-2speakers{
       display: grid;
       grid-column-gap: 1em;
       grid-template-columns: 50% 50%;
     }
     .program-speakers-detail .program-2speakers{
       grid-column-gap: 2em;
     }
  }
}
