<div class="boxes boxes-hotels">
		<div class="box">
			<h6>
				Sofitel Lyon<br>
				<strong>Bellecour</strong>
			</h6>
			<p>★★★★★</p>
			<p>
				<a href="http://www.sofitel.com/gb/hotel-0553-sofitel-lyon-bellecour/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Hotel+Sofitel+Lyon+Bellecour/@45.7548198,4.8321111,16.03z/data=!4m5!3m4!1s0x47f4ea4e1ee97bbb:0x7c9870a35269d702!8m2!3d45.7547837!4d4.8340926?hl=en" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				MGallery<br>
				<strong>Royal Hotel</strong>
			</h6>
			<p>★★★★★</p>
			<p>
				<a href="http://hotel-le-royal-lyon.hotel-in-lyon.com/en/" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Hotel+Le+Royal+Lyon+MGallery+by+Sofitel/@45.756365,4.8308428,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea522ee104e1:0x545ccb7f42b0799d!8m2!3d45.756365!4d4.8330315?hl=en" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				MGallery<br>
				<strong>Carlton</strong>
			</h6>
			<p>★★★★★</p>
			<p>
				<a href="https://www.accorhotels.com/gb/hotel-2950-hotel-carlton-lyon-mgallery-by-sofitel/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Hotel+Carlton+Lyon+-+MGallery+By+Sofitel/@45.7609943,4.8344847,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea56fba4c9b1:0xe8a12cfc441bbf47!8m2!3d45.7609943!4d4.8366734?hl=en" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				Mercure Lyon<br>
				<strong>Château Perrache</strong>
			</h6>
			<p>★★★★</p>
			<p>
				<a href="http://www.mercure.com/gb/hotel-1292-mercure-lyon-centre-chateau-perrache-hotel/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Mercure+Lyon+Centre+Ch%C3%A2teau+Perrache+hotel/@45.7494731,4.8225126,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea4b3eee97db:0xa913baf83d265da5!8m2!3d45.7494731!4d4.8247013" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				Mercure Lyon<br>
				<strong>Beaux Arts</strong>
			</h6>
			<p>★★★★</p>
			<p>
				<a href="http://www.mercure.com/gb/hotel-2949-mercure-lyon-centre-beaux-arts-hotel/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/H%C3%B4tel+Mercure+%E2%98%85%E2%98%85%E2%98%85%E2%98%85+Lyon+Centre+Beaux+Arts/@45.7609378,4.8319737,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea5426f422bb:0xf9c7a94c922a6586!8m2!3d45.7609378!4d4.8341624?hl=en" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				Mercure Lyon<br>
				<strong>Plaza République</strong>
			</h6>
			<p>★★★★</p>
			<p>
				<a href="https://www.accorhotels.com/gb/hotel-2951-hotel-mercure-lyon-centre-plaza-republique/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/H%C3%B4tel+Mercure+%E2%98%85%E2%98%85%E2%98%85%E2%98%85+Lyon+Centre+Plaza+R%C3%A9publique/@45.7607108,4.8346665,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea56e3afa351:0x7dcb885e3c5d4971!8m2!3d45.7607071!4d4.8368552" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				Novotel Lyon <br>
				<strong>Confluence</strong>
			</h6>
			<p>★★★★</p>
			<p>
				<a href="http://www.novotel.com/gb/hotel-7325-novotel-lyon-confluence/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Hotel+Novotel+Lyon+Confluence/@45.7413461,4.8131728,17z/data=!3m2!4b1!5s0x47f4ebc8d2348ab1:0xd1063be3e54adbd6!4m5!3m4!1s0x47f4ebcf25f327a3:0x647891347ded0a4!8m2!3d45.7413424!4d4.8153615" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				Novotel Lyon<br>
				<strong>Gerland Musée des Confluences</strong>
			</h6>
			<p>★★★</p>
			<p>
				<a href="http://www.novotel.com/gb/hotel-0736-novotel-lyon-gerland-musee-des-confluences/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Hotel+Novotel+Lyon+Gerland+Mus%C3%A9e+des+Confluences/@45.7331107,4.8214065,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ebd328e31dab:0x92137433a30d5457!8m2!3d45.733107!4d4.8235952" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				Ibis Styles Lyon<br>
				<strong>Confluence</strong>
			</h6>
			<p>★★★</p>
			<p>
				<a href="https://www.accorhotels.com/gb/hotel-9659-ibis-styles-lyon-confluence/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Hotel+ibis+Styles+Lyon+Confluence/@45.7434826,4.8236208,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea3550ae7239:0x1b7b4b123c220682!8m2!3d45.7434789!4d4.8258095" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				Ibis Lyon<br>
				<strong>Centre Perrache</strong>
			</h6>
			<p>★★★</p>
			<p>
				<a href="https://www.accorhotels.com/gb/hotel-2751-ibis-lyon-centre-perrache/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Hotel+ibis+Lyon+Centre+Perrache/@45.748399,4.825922,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ea4b3eee97db:0xc5f7168151d1d142!8m2!3d45.7483953!4d4.8281107" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				Ibis Lyon<br>
				<strong>Gerland Musée des Confluences</strong>
			</h6>
			<p>★★★</p>
			<p>
				<a href="https://www.accorhotels.com/gb/hotel-0778-ibis-lyon-gerland-musee-des-confluences/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Hotel+ibis+Lyon+Gerland+Musee+des+Confluences/@45.7333287,4.8204071,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ebd328e32a4f:0xa7552cdba34906ed!8m2!3d45.733325!4d4.8225958" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
		<div class="box">
			<h6>
				Ibis Lyon<br>
				<strong>Gerland Mérieux</strong>
			</h6>
			<p>★★★</p>
			<p>
				<a href="https://www.accorhotels.com/gb/hotel-0477-ibis-lyon-gerland-rue-merieux/index.shtml" target="_blank">Website</a><br>
				<a href="https://www.google.fr/maps/place/Hotel+ibis+Lyon+Gerland+Rue+Merieux/@45.728883,4.8278538,17z/data=!4m5!3m4!1s0x47f4ea296dea2503:0xe205f318f4d8d8be!8m2!3d45.7288793!4d4.8300425" target="_blank">See on map</a><br>
				<a href="http://www.accorhotels.com/lien_externe.svlt?goto=rech_resa&destination=0553,2952,2950,1292,2949,2951,7325,0736,9920,9659,2751,0778,0477&sourceid=IXDA&dayIn=04&monthIn=02&yearIn=2018&nightNb=2&preferredCode=IXDA&merchantid=par-accorFR&code_langue=gb&xtor=ADC-5009" target="_blank">Book with discount</a><br>
			</p>
		</div>
</div>
