<div class="boxes boxes-2">
{{ $data := getJSON $.Site.Params.programData }}
{{ $programkeynote := .Get "kind" }}
{{ range where $data.program "kind" "==" $programkeynote }}
    {{ $item := . }}
    {{ if $item.active }}
    <div class="box">
      <h4>{{ $item.speaker_1_name }}</h4>
      <img src="{{ $item.speaker_1_photo }}" alt="{{ $item.speaker_1_name }}">
        <p>
        {{ with $item.speaker_1_bio }}{{ . | markdownify }}{{ end }}
        </p>
      <p><a href="{{ $item.speaker_1_twitter }}" target="_blank">Connect with {{ $item.speaker_1_name }} on twitter</a></p>
    </div>
    {{ end }}
{{ end }}
</div>