<div class="fullwidth spacer-t-b">
  <div class="program-overview">
    <a class="program-overview-day" href="./5_monday" data-elementdate="2017-11-17T23:00:00.000Z">
      <h5 class="color-mauve">Monday 5th</h5>
        <div class="program-overview-item">
            <div class="program-overview-item-hour">9:00</div>
            <h6><strong>Workshops sessions</strong></h6>
        </div>
        <div class="program-overview-item-break">
            <small>Lunchtime!</small>
        </div>
        <div class="program-overview-item">
            <div class="program-overview-item-hour">13:30 – 17:00</div>
            <h6><strong>Workshops sessions</strong></h6>
        </div>
    </a>
    <a class="program-overview-day" href="./6_tuesday" data-elementdate="2017-11-19T23:00:00.000Z">
      <h5 class="color-pink">Tuesday 6th</h5>
      <div class="program-overview-item-break">
          <small>Door opening (8:00)</small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">9:15</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Alan-Cooper.jpg" alt="Alan Cooper">
            <div class="program-overview-item-speaker-name">
              <small>Keynote by</small>
              <h6><strong>Alan Cooper</strong></h6>
            </div>
          </div>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">10:30 – 12:50</div>
          <h6><strong>Talks</strong></h6>
      </div>
      <div class="program-overview-item-break">
          <small>Lunchtime!</small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">14:00 – 16:45</div>
          <h6><strong>Talks</strong></h6>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">17:40</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Kenya-Hara.jpg" alt="Kenya Hara">
            <div class="program-overview-item-speaker-name">
              <small>Keynote by</small>
              <h6><strong>Kenya Hara</strong></h6>
            </div>
          </div>
      </div>
      <div class="program-overview-item-break">
          <small>Door closing (18:30)</small>
      </div>
    </a>

    <a class="program-overview-day" href="./7_wednesday" data-elementdate="2017-11-20T23:00:00.000Z">
      <h5 class="color-pink">Wednesday 7th</h5>
      <div class="program-overview-item-break">
          <small>Door opening (8:00)</small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">9:15</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Alan-Cooper.jpg" alt="Alan Cooper">
            <div class="program-overview-item-speaker-name">
              <small>Keynote by</small>
              <h6><strong>Nicolas Nova</strong></h6>
            </div>
          </div>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">10:30 – 12:50</div>
          <h6><strong>Talks</strong></h6>
      </div>
      <div class="program-overview-item-break">
          <small>Lunchtime!</small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">14:00 – 16:45</div>
          <h6><strong>Talks</strong></h6>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">17:40</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Kenya-Hara.jpg" alt="Hayan">
            <div class="program-overview-item-speaker-name">
              <small>Keynote by</small>
              <h6><strong>Hayan ???</strong></h6>
            </div>
          </div>
      </div>
      <div class="program-overview-item-break">
          <small>Door closing (18:30)</small>
      </div>
    </a>
    <a class="program-overview-day" href="./8_tuesday" data-elementdate="2017-11-21T23:00:00.000Z">
      <h5 class="color-pink">Tuesday 8th</h5>
      <div class="program-overview-item-break">
          <small>Door opening (8:00)</small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">9:15</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Alan-Cooper.jpg" alt="Alan Cooper">
            <div class="program-overview-item-speaker-name">
              <small>Keynote by</small>
              <h6><strong>????? ??????</strong></h6>
            </div>
          </div>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">10:30 – 12:50</div>
          <h6><strong>Talks</strong></h6>
      </div>
      <div class="program-overview-item-break">
          <small>Lunchtime!</small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">14:00 – 16:45</div>
          <h6><strong>Talks</strong></h6>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">17:40</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Leyla-Acaroglu.jpg" alt="Leyla Acaroglu">
            <div class="program-overview-item-speaker-name">
              <small>Keynote by</small>
              <h6><strong>Leyla Acaroglu</strong></h6>
            </div>
          </div>
      </div>
      <div class="program-overview-item-break">
          <small>Door closing (18:30)</small>
      </div>
    </a>
  </div>
</div>
