<div class="fullwidth spacer-t-b">
  <div class="program-overview">
    <a class="program-overview-day" href="./5_monday" data-elementdate="2017-11-17T23:00:00.000Z">
      <h4 class="text-center color-mauve">Monday 5th</h4>
        <div class="program-overview-item">
            <div class="program-overview-item-hour">9:00</div>
            <h5>Workshops sessions</h5>
        </div>
        <div class="program-overview-item-break">
            <small>Lunchtime! 🍽 </small>
        </div>
        <div class="program-overview-item">
            <div class="program-overview-item-hour">13:30 – 17:00</div>
            <h5>Workshops sessions</h5>
        </div>
    </a>
    <a class="program-overview-day" href="./6_tuesday" data-elementdate="2017-11-19T23:00:00.000Z">
      <h4 class="text-center color-pink">Tuesday 6th</h4>
      <div class="program-overview-item-break">
          <small>Door opening (8:00)</small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">9:15 – Keynote by</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Alan-Cooper.jpg" alt="Alan Cooper">
            <h5 class="program-overview-item-speaker-name">Alan <br/>Cooper</h5>
          </div>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">10:30 – 12:50</div>
          <h5>Talks</h5>
      </div>
      <div class="program-overview-item-break">
          <small>Lunchtime! 🍽 </small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">14:00 – 16:45</div>
          <h5>Talks</h5>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">17:40 – Keynote by</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Kenya-Hara.jpg" alt="Kenya Hara">
            <h5 class="program-overview-item-speaker-name">Kenya <br/>Hara</h5>
          </div>
      </div>
      <div class="program-overview-item-break">
          <small>Door closing (18:30)</small>
      </div>
    </a>

    <a class="program-overview-day" href="./7_wednesday" data-elementdate="2017-11-20T23:00:00.000Z">
      <h4 class="text-center color-pink">Wednesday 7th</h4>
      <div class="program-overview-item-break">
          <small>Door opening (8:00)</small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">9:15 – Keynote by</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Alan-Cooper.jpg" alt="Alan Cooper">
            <h5 class="program-overview-item-speaker-name">Nicolas <br/>Nova</h5>
          </div>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">10:30 – 12:50</div>
          <h5>Talks</h5>
      </div>
      <div class="program-overview-item-break">
          <small>Lunchtime! 🍽 </small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">14:00 – 16:45</div>
          <h5>Talks</h5>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">17:40 – Keynote by</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Kenya-Hara.jpg" alt="Hayan">
            <h5 class="program-overview-item-speaker-name">Hayan <br/>???</h5>
          </div>
      </div>
      <div class="program-overview-item-break">
          <small>Door closing (18:30)</small>
      </div>
    </a>
    <a class="program-overview-day" href="./8_tuesday" data-elementdate="2017-11-21T23:00:00.000Z">
      <h4 class="text-center color-pink">Tuesday 8th</h4>
      <div class="program-overview-item-break">
          <small>Door opening (8:00)</small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">9:15 – Keynote by</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Alan-Cooper.jpg" alt="Alan Cooper">
            <h5 class="program-overview-item-speaker-name">????? <br/>??????</h5>
          </div>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">10:30 – 12:50</div>
          <h5>Talks</h5>
      </div>
      <div class="program-overview-item-break">
          <small>Lunchtime! 🍽 </small>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">14:00 – 16:45</div>
          <h5>Talks</h5>
      </div>
      <div class="program-overview-item">
          <div class="program-overview-item-hour">17:40 – Keynote by</div>
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Leyla-Acaroglu.jpg" alt="Leyla Acaroglu">
            <h5 class="program-overview-item-speaker-name">Leyla <br/>Acaroglu</h5>
          </div>
      </div>
      <div class="program-overview-item-break">
          <small>Door closing (18:30)</small>
      </div>
    </a>
  </div>
</div>
