<div class="boxes boxes-nopadding boxes-partners {{ if .Get "full" }}boxes-partners-full{{ end }}">
{{ $data := getJSON $.Site.Params.partnersData }}
{{ $partnersize := .Get "size" }}
{{ range where $data.partners "size" "==" $partnersize }}
    {{ $item := . }}
    {{ if $item.active }}
    <div class="box box-{{ $item.size }}">
      <a href="{{ $item.url }}" target="_blank" class="no-underline">
        <img src="{{ $item.logo }}" alt="{{ $item.logoalt }}">
      </a>
      <span class="boxes-partners-full-display">
        <hr class="hr-xs">
        {{ $item.title }}{{ if ( and $item.title $item.link ) }}<br>{{ end }}
        <a href="{{ $item.url }}" target="_blank">{{ $item.link }}</a>
      </span>
    </div>
    {{ end }}
{{ end }}
</div>
