  <div class="program-list spacer-t-b">

  {{ $data := getJSON $.Site.Params.programData }}
  {{ $programDay := .Get "day" }}
  {{ range where $data.program "day" "==" $programDay }}

      {{ $item := . }}
      {{ if $item.active }}
      <div class="program-item-date {{ if $item.soldout }}program-item-soldout{{ end }}">
        <p>{{ $item.hour }}</p>
      </div>
      <div class="program-item {{ if $item.soldout }}program-item-soldout{{ end }}">
        <h4>
          <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}">
            {{ $item.title }}
          </a>
          <span class="label">
            {{ $item.format }}
          </span>
          {{ if $item.soldout }}
            <span class="label">Sold out</span>
          {{ end }}
        </h4>
        <p>By
          <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a>
          {{ if $item.second_speaker }}
           &
           <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker2">{{ $item.speaker_2_name }}</a>
          {{ end }}
        </p>
      </div>
    {{ end }}
  {{ end }}
  </div>
