  <div class="program-list spacer-t-b">

    <div class="program-item-date">
      <p>8:00</p>
    </div>
    <div class="program-item">
      Door opening
    </div>

    <div class="program-item-date">
        <p>9:15</p>
    </div>
    <div class="program-item">
          <div class="program-overview-item-speaker">
            <img src="/img/speakers/keynote_Alan-Cooper.jpg" alt="Alan Cooper">
            <div class="program-overview-item-speaker-name">
              Keynote by
              <h5>Alan Cooper</h5>
            </div>
        </div>
    </div>

  {{ $data := getJSON $.Site.Params.programData }}
  {{ $programDay := .Get "day" }}
  {{ range where $data.program "day" "==" $programDay }}

      {{ $item := . }}
      {{ if $item.active }}
      <div class="program-item-date">
        <p>{{ $item.hour }}</p>
      </div>
      <div class="program-item">
        <h4>
          <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}">
            {{ $item.title }}
          </a>
          <span class="label">
            {{ $item.format }}
          </span>
        </h4>
        <p>By
          <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a>
          {{ if $item.second_speaker }}
           &
           <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker2">{{ $item.speaker_2_name }}</a>
          {{ end }}
        </p>
      </div>
    {{ end }}
  {{ end }}
  </div>

<div class="fullwidth">
  <div class="program-list-3-rooms-wrapper">
    <div class="program-list-3-rooms">
      <div class="program-list-room">
        <h3>Amphitheatre</h3>
        <div class="program-list">
          {{ $data := getJSON $.Site.Params.programData }}
          {{ $programDay := .Get "day" }}
          {{ range where $data.program "day" "==" $programDay }}

              {{ $item := . }}
              {{ if $item.active }}
              <div class="program-item-date">
                <p>{{ $item.hour }}</p>
              </div>
              <div class="program-item">
                <h4>
                  <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}">
                    {{ $item.title }}
                  </a>
                  <span class="label">
                    {{ $item.format }}
                  </span>
                </h4>
                <p>By
                  <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a>
                  {{ if $item.second_speaker }}
                   &
                   <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker2">{{ $item.speaker_2_name }}</a>
                  {{ end }}
                </p>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="program-list-room">
        <h3>Le petit théatre</h3>
        <div class="program-list">
          {{ $data := getJSON $.Site.Params.programData }}
          {{ $programDay := .Get "day" }}
          {{ range where $data.program "day" "==" $programDay }}

              {{ $item := . }}
              {{ if $item.active }}
              <div class="program-item-date">
                <p>{{ $item.hour }}</p>
              </div>
              <div class="program-item">
                <h4>
                  <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}">
                    {{ $item.title }}
                  </a>
                  <span class="label">
                    {{ $item.format }}
                  </span>
                </h4>
                <p>By
                  <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a>
                  {{ if $item.second_speaker }}
                   &
                   <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker2">{{ $item.speaker_2_name }}</a>
                  {{ end }}
                </p>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="program-list-room">
        <h3>La Sucrière</h3>
        <div class="program-list">
          {{ $data := getJSON $.Site.Params.programData }}
          {{ $programDay := .Get "day" }}
          {{ range where $data.program "day" "==" $programDay }}

              {{ $item := . }}
              {{ if $item.active }}
              <div class="program-item-date">
                <p>{{ $item.hour }}</p>
              </div>
              <div class="program-item">
                <h4>
                  <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}">
                    {{ $item.title }}
                  </a>
                  <span class="label">
                    {{ $item.format }}
                  </span>
                </h4>
                <p>By
                  <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a>
                  {{ if $item.second_speaker }}
                   &
                   <a href="{{ .Site.BaseURL }}/program/{{ $item.slug }}#speaker2">{{ $item.speaker_2_name }}</a>
                  {{ end }}
                </p>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>    
</div>
