
    <div class="boxes boxes-speaker">
      {{ $data := getJSON $.Site.Params.programData }}

      {{ $programkind := .Get "kind" }}
      {{ range where $data.program "kind" "==" $programkind }}
      {{ $item := . }}
      {{ if $item.active }}
        <div class="box box-inner-padding">
          {{ if $item.speaker_1_photo }}
          <a href="/program/{{ $item.slug }}#speaker" class="no-underline">
            <img src="{{ $item.speaker_1_photo }}" alt="{{ $item.speaker_1_name }}">
          </a>
          {{ end }}
          <p>
            <strong><a href="/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a></strong>
            <!-- <br/>
            {{ $item.speaker_1_function }} -->
          </p>
        </div>
        {{ if $item.second_speaker }}
        <div class="box box-inner-padding">
          {{ if $item.speaker_2_photo }}
          <a href="/program/{{ $item.slug }}#speaker2" class="no-underline">
            <img src="{{ $item.speaker_2_photo }}" alt="{{ $item.speaker_2_name }}">
          </a>
          {{ end }}
          <p>
            <strong><a href="/program/{{ $item.slug }}#speaker2">{{ $item.speaker_2_name }}</a></strong>
            <!-- <br/>
            {{ $item.speaker_2_function }} -->
          </p>
        </div>
        {{ end }}
        {{ end }}
      {{ end }}
    </div>
