  {{ $data := getJSON $.Site.Params.programData }}
  {{ $slug := .Get "slug" }}
  {{ range where $data.program "slug" "==" $slug }}
    {{ $item := . }}
    <div class="program-talk padding-b">
      <h4 class="mini-padding-b">
        <a href="/program/{{ $item.slug }}" class="program-talk-title">
          {{ $item.title }}
          {{ if $item.featured }}
          Youpi keynote speaker have a title
          {{ end }}
        </a>
      </h4>

      {{ if $item.featured }}
      <div class="program-overview-item-speaker">
        <img src="{{ $item.speaker_1_photo }}" alt="{{ $item.speaker_1_name }}">
        <p class="program-overview-item-speaker-name">
          Keynote by<br/>
          <a href="/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a>
        </p>
      </div>
      {{ else }}
      <p>
      By <a href="/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a>
        {{ if $item.second_speaker }}
        and <a href="/program/{{ $item.slug }}#speaker2">{{ $item.speaker_2_name }}</a>
        {{ end }}
      </p>
      {{ end }}

    </div>
    {{ end }}
