  {{ $data := getJSON $.Site.Params.programData }}
  {{ $slug := .Get "slug" }}
  {{ range where $data.program "slug" "==" $slug }}
    {{ $item := . }}
    <div class="program-talk padding-b {{ if $item.canceled }}program-talk-canceled{{ end }}">
      <h4 class="mini-padding-b">
        <a href="/program/{{ $item.slug }}" class="program-talk-title">
          {{ $item.title }} {{with $item.subtitle}}<span class="">&#151; {{ . }}</span>{{ end }}
        </a>
        <span class="label">
          {{ $item.format }}
        </span>
        {{ if $item.canceled }}
        <span class="label">
          Canceled
        </span>
        {{ end }}
        {{ if $item.replacement }}
        <span class="label">
          Replacement
        </span>
        {{ end }}
        <span class="label specify-room">
          {{ $item.room }}
        </span>
      </h4>

      {{ if $item.featured }}
      <div class="program-overview-item-speaker">
        <img src="{{ $item.speaker_1_photo }}" alt="{{ $item.speaker_1_name }}">
        <p class="program-overview-item-speaker-name">
          Keynote by<br/>
          <a href="/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a>
        </p>
      </div>
      {{ else }}
      <p>
      By <a href="/program/{{ $item.slug }}#speaker">{{ $item.speaker_1_name }}</a>
        {{ if $item.second_speaker }}
        and <a href="/program/{{ $item.slug }}#speaker2">{{ $item.speaker_2_name }}</a>
        {{ end }}
        {{ if $item.sponsored }}
        – Hosted by <strong>{{ $item.sponsored_by }}</strong>
        {{ end }}
      </p>
      {{ end }}

    </div>
    {{ end }}
