<div class="boxes boxes-team">

{{ $data := getJSON $.Site.Params.teamData }}
{{ range $data.team }}
    {{ $item := . }}
    {{ if $item.active }}
    <div class="box">
      <div class="box-inner-padding">
        <img src="{{ $item.picture }}" alt="{{ $item.name }}">
        <p>
          <strong>{{ $item.name }}</strong><br>
          {{ $item.function }}<br>
          {{ if $item.linkedin }}
          <a href="{{ $item.linkedin }}" target="_blank" title="LinkedIn profile">LinkedIn</a>
          {{ end }}
          {{ if $item.twitter }}
            {{ if $item.linkedin }}
              +
            {{ end }}
          {{ end }}
          {{ if $item.twitter }}
          <a href="{{ $item.twitter }}" target="_blank" title="Twitter profile">Twitter</a>
          {{ end }}
        </p>
      </div>
    </div>
    {{ end }}
{{ end }}
</div>
