<section class="container spacer-t">
  <div class="bordered mega-padding fullwidth">
    <div class="boxes boxes-valign boxes-nopadding">
      <div class="box">
        <h3>Subscribe to newsletter</h3>
      </div>
      <div class="box">
          <p>Stay informed with our once-a-month update.</p>
      </div>
      <div class="box">
        <p>
  				<form action="//ixda.us2.list-manage.com/subscribe/post?u=e714c585710f24c2743e2cb29&amp;id=4f464c4573" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  					<div class="mc-field-group">
  						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
  						<input type="submit" value="Follow" name="subscribe" id="mc-embedded-subscribe" class="button button-secondary">
  						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e714c585710f24c2743e2cb29_4f464c4573" tabindex="-1" value=""></div>
  					</div>
  				</form>
  			</p>
      </div>
    </div>
  </div>
  <footer class="boxes boxes-valign boxes-nopadding bordered-bottom fullwidth">
      <div class="box">
        <a href="{{ .Site.BaseURL }}partners.html" class="button"><strong>Become a partner</strong></a>
      </div>
      <div class="box">
          <strong>Organised by IxDA</strong><br/>
          <a href="http://ixda.org/" target="_blank">ixda.org</a>
      </div>
      <div class="box">
          <strong>Get in touch</strong><br/>
          <a href="mailto:ixd18@ixda.org">ixd18@ixda.org</a>
      </div>
      <div class="box">
          <strong>Local ❤︎</strong><br/>
          <a href="http://www.ixda-lyon.fr/" target="_blank">IxDA Lyon</a>
      </div>
      <div class="box">
          <strong>Follow us</strong><br/>
          <a href="https://twitter.com/ixdconf" target="_blank">Twitter</a> &nbsp;
          <a href="https://www.facebook.com/IxDAGlobal" target="_blank">Facebook</a> &nbsp;
          <a href="https://www.instagram.com/ixdconf" target="_blank">Instagram</a> &nbsp;
          <a href="https://www.linkedin.com/company/ixda" target="_blank">LinkedIn</a>
      </div>
  </footer>

  <div class="boxes-partners boxes-partners-footer fullwidth">
  {{ $data := getJSON $.Site.Params.partnersData }}
  {{ range where $data.partners "size" "==" "XL" }}
      {{ $item := . }}
      {{ if $item.active }}
      {{ if $item.display_footer }}
      <div class="box box-{{ $item.size }}">
        <a href="{{ $item.url }}" target="_blank" class="no-underline">
          <img src="{{ $item.logo }}" alt="{{ $item.logoalt }}">
        </a>
      </div>
      {{ end }}
      {{ end }}
  {{ end }}
  </div>
  <div class="boxes-partners boxes-partners-footer fullwidth">
  {{ range where $data.partners "size" "==" "L" }}
      {{ $item := . }}
      {{ if $item.active }}
      {{ if $item.display_footer }}
      <div class="box box-{{ $item.size }}">
        <a href="{{ $item.url }}" target="_blank" class="no-underline">
          <img src="{{ $item.logo }}" alt="{{ $item.logoalt }}">
        </a>
      </div>
      {{ end }}
      {{ end }}
  {{ end }}
  </div>
  <div class="boxes-partners boxes-partners-footer fullwidth">
  {{ range where $data.partners "size" "==" "M" }}
      {{ $item := . }}
      {{ if $item.active }}
      {{ if $item.display_footer }}
      <div class="box box-{{ $item.size }}">
        <a href="{{ $item.url }}" target="_blank" class="no-underline">
          <img src="{{ $item.logo }}" alt="{{ $item.logoalt }}">
        </a>
      </div>
      {{ end }}
      {{ end }}
  {{ end }}
  </div>
  <div class="boxes-partners boxes-partners-footer fullwidth">
  {{ range where $data.partners "size" "==" "S" }}
      {{ $item := . }}
      {{ if $item.active }}
      {{ if $item.display_footer }}
      <div class="box box-{{ $item.size }}">
        <a href="{{ $item.url }}" target="_blank" class="no-underline">
          <img src="{{ $item.logo }}" alt="{{ $item.logoalt }}">
        </a>
      </div>
      {{ end }}
      {{ end }}
  {{ end }}
  </div>

  <p class="text-center fullwidth spacer-t-b">
    <a href="{{ .Site.BaseURL }}code-of-conduct.html">Code of Conduct</a>&nbsp;&nbsp;—&nbsp;&nbsp;Copyright 2004&nbsp;›&nbsp;{{ now.Year }} Interaction Design Association&nbsp;&nbsp;—&nbsp;&nbsp;<a href="{{ .Site.BaseURL }}credits.html">Credits</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a href="{{ .Site.BaseURL }}media.html">Media</a>
  </p>
</section>

<script>
  // toggle responsive-Menu
  const toggleButton = document.querySelector('#js-toggle-nav');
  const header = document.querySelector('header');
  const body = document.querySelector('body');

  function toggleOpen() {
    this.classList.toggle('nav-toggle-open');
    header.classList.toggle('mobile-open');
    body.classList.toggle('no-scroll');
  }

  toggleButton.addEventListener('click', toggleOpen);
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJ7W3KG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
