{{ partial "header.html" . }}
<div class="bordered-top"></div>
<main id="main">
	<section class="container content container-m spacer-t-b">
		<h1>{{ .Title }}</h1>

    {{ $data := getJSON $.Site.Params.programData }}

    {{ $programslug := .File.BaseFileName }}
    {{ range where $data.program "slug" "==" $programslug }}
        {{ $item := . }}
        {{ if $item.active }}

				<h2>By
					<a href="#speaker1">{{ $item.speaker_1_name }}</a>
					{{ if $item.second_speaker }}
					 &
					 <a href="#speaker2">{{ $item.speaker_2_name }}</a>
					{{ end }}
				</h2>

				<div class="spacer-t-b">
					<h3>{{ $item.resume }}</h3>
	        <p>
	            {{ with $item.description }}{{ . | markdownify }}{{ end }}
	        </p>
				</div>

				<div class="columns columns2 spacer-b">
					<h2>Outline</h2>
					<p>
	            {{ with $item.outline }}{{ . | markdownify }}{{ end }}
	        </p>
					<div class="columns-break"></div>
					<h2>Target audience</h2>
					<p>
	            {{ with $item.target_audience }}{{ . | markdownify }}{{ end }}
	        </p>
				</div>

				<hr>

				<div class="spacer-t-b">
	        {{ if $item.second_speaker }}
	        <h1>Speakers</h1>
	        <div class="boxes boxes-2">
	        {{else}}
	        <h1>Speaker</h1>
	        {{ end }}
	        <div class="box" id="speaker1">
	          <h2>{{ $item.speaker_1_name }}</h2>
	          {{ if $item.speaker_1_photo }}
	          <img src="{{ $item.speaker_1_photo }}" alt="{{ $item.speaker_1_name }}">
	          {{ end }}
	            <p>
	            {{ with $item.speaker_1_bio }}{{ . | markdownify }}{{ end }}
	            </p>
	          {{ if $item.speaker_1_twitter }}
	          <p><a href="{{ $item.speaker_1_twitter }}" target="_blank">Connect with {{ $item.speaker_1_name }} on twitter</a></p>
	          {{ end }}
	        </div>
	          {{ if $item.second_speaker }}
	          <div class="box" id="speaker2">
	            <h2>{{ $item.speaker_2_name }}</h2>
	            {{ if $item.speaker_2_photo }}
	            <img src="{{ $item.speaker_2_photo }}" alt="{{ $item.speaker_2_name }}">
	            {{ end }}
	              <p>
	              {{ with $item.speaker_2_bio }}{{ . | markdownify }}{{ end }}
	              </p>
	            {{ if $item.speaker_2_twitter }}
	            <p><a href="{{ $item.speaker_2_twitter }}" target="_blank">Connect with {{ $item.speaker_2_name }} on twitter</a></p>
	            {{ end }}
	          </div>
	          {{ end }}
	          {{ if $item.second_speaker }}
	          </div>
	          {{ end }}
				</div>
				{{ end }}
				{{ partial "tito-widget.html" . }}
    {{ end }}


	</section>
</main>
{{ partial "footer.html" . }}
