{{ partial "header.html" . }}
<div class="bordered-top"></div>
<main id="main">
	<section class="container container-m content spacer-2t-b">
		<div class="program-detail">

    {{ $data := getJSON $.Site.Params.programData }}
	{{ $params := .Params }}
    {{ $programslug := .File.BaseFileName }}
    {{ range where $data.program "slug" "==" $programslug }}
        {{ $item := . }}
        {{ if $item.active }}

				<div class="program-title">
					<h1>{{ $item.title }}{{with $item.subtitle}} &#151; {{ . }} {{end}}</h1>
					<h2>

							{{if $item.sponsored}} Sponsored {{end}}{{ $item.kind }} –
							{{ $item.format }} |
							Feb
							{{ $item.day }}
							–
							{{ $item.hour }}


					</h2>
					{{ with $item.resume }}<h3>{{ . | markdownify }}</h3>{{ end }}
				</div>
					{{ if $item.soldout }}
						<div class="box box-primary text-white" >
							<h3>Sold out</h3>
							<p>This workshop is sold out. Check out the rest of our <a href="/program/5_monday/">workshop program</a>.</p>
						</div>
					{{ end }}
					<div class="program-resume">
						<p>
							{{ with $item.description }}{{ . | markdownify }}{{ end }}
						</p>
					</div>



					<div class="program-outline columns columns2 spacer-b">
						{{ if $item.outline }}
						<h2>Outline</h2>
						<p>
							{{ with $item.outline }}{{ . | markdownify }}{{ end }}
						</p>
						<div class="columns-break"></div>
						{{ end }}
						{{ if $item.target_audience }}
						<h2>Target audience</h2>
						<p>
							{{ with $item.target_audience }}{{ . | markdownify }}{{ end }}
						</p>
						{{ end }}
					</div>

					{{ if $item.tito_releases }}
						{{ if $item.soldout }}
						{{ else }}
						<div class="program-tito">
							{{ partial "tito-widget.html" . }}
						</div>
						{{ end }}

					{{ end }}


					<div class="program-speakers-preview">
						
						{{ if $item.second_speaker }}
						<div class="program-2speakers">
						{{ end }}
							{{ if $item.sponsored }}
							<div class="program-speaker-box">
								<p>Hosted by:<br>
								<a href="{{ $item.sponsored_by_link }}" class="no-underline">
									<img {{ if $params.closersponsorlogo }}class="program-sponsor-logo"{{ end }} src="{{ $item.sponsored_by_logo }}" alt="{{ $item.sponsored_by }}">
								</a>
								</p>
							</div>
							{{ end }}
							{{ if $params.hide_speakers }}
							{{else}}
							<div class="program-speaker-box">
								{{ if $item.speaker_1_photo }}
								<img src="{{ $item.speaker_1_photo }}" alt="{{ $item.speaker_1_name }}">
								{{ end }}
								<p><strong><a href="#speaker">{{ $item.speaker_1_name }}</a></strong><br/>
									{{ $item.speaker_1_function }}
								</p>
							</div>
							{{ end }}
							{{ if $item.second_speaker }}
							<div class="program-speaker-box">
								{{ if $item.speaker_2_photo }}
								<img src="{{ $item.speaker_2_photo }}" alt="{{ $item.speaker_2_name }}">
								{{ end }}
								<p><strong><a href="#speaker2">{{ $item.speaker_2_name }}</a></strong><br/>
									{{ $item.speaker_2_function }}
								</p>
							</div>
							{{ end }}
							{{ if $item.second_speaker }}
						</div>
						{{ end }}
					</div>

					{{ if $params.hide_speakers }}
					{{else}}		
					<div class="program-speakers-detail spacer-t-b">
						{{ if $item.second_speaker }}
						<h2>About the speakers</h2>
						<div class="program-2speakers">
						{{else}}
						<h2>About the speaker</h2>
						{{ end }}
							<div class="program-speaker-box" id="speaker">
								{{ if $item.speaker_1_photo }}
								<img src="{{ $item.speaker_1_photo }}" alt="{{ $item.speaker_1_name }}">
								{{ end }}
								<h3>{{ $item.speaker_1_name }}</h3>
								<p>
									<strong>{{ $item.speaker_1_function }}</strong><br/>
								{{ with $item.speaker_1_bio }}{{ . | markdownify }}{{ end }}
								</p>
								<p>
								{{ if $item.speaker_1_twitter }}
								<a href="{{ $item.speaker_1_twitter }}" target="_blank">twitter</a>
								{{ end }}
								</p>
							</div>
							{{ if $item.second_speaker }}
							<div class="program-speaker-box" id="speaker2">
								{{ if $item.speaker_2_photo }}
								<img src="{{ $item.speaker_2_photo }}" alt="{{ $item.speaker_2_name }}">
								{{ end }}
								<h3>{{ $item.speaker_2_name }}</h3>
								<p>
									<strong>{{ $item.speaker_2_function }}</strong><br/>
								{{ with $item.speaker_2_bio }}{{ . | markdownify }}{{ end }}
								</p>
								<p>
								{{ if $item.speaker_2_twitter }}
								<a href="{{ $item.speaker_2_twitter }}" target="_blank">twitter</a>
								{{ end }}
								</p>
							</div>
							{{ end }}
							{{ if $item.second_speaker }}
						</div>
						{{ end }}
					</div>
					{{end}}

				{{ end }}
    {{ end }}
		</div>


	</section>
</main>
{{ partial "footer.html" . }}
